@model IEnumerable<WhiteLagoon.Domain.Entities.Villa>


<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa List</h2>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i>
                    Create New
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Sqft</th>
                    <th>Occupancy</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td>@room.Name</td>
                        <td>@room.Description</td>
                        <td>@room.Price</td>
                        <td>@room.Sqft</td>
                        <td>@room.Occupancy</td>
                        <td>
                            <img src="@room.ImageUrl" alt="Room Image" width="50" height="50" />
                        </td>
                        <td>@room.CreatedDate?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@room.UpdatedDate?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

